.header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  border-bottom: 1px solid black;
  align-items: center;
  width: 100%;
  z-index: 5;
  background-color: white;
  padding: 10px;
}

.nav {
  width: 350px;
}

.navlink {
  padding: 10px;
}

a:link {
  color: black;
}

a:active {
  color: black;
}

a:hover {
  color: black
}

a:visited {
  color: black;
}

.logo {
  display: inline-flex;
}

#title {
  color: MediumAquamarine;
  padding: 7px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.container {
  display: flex;
  position: relative;
  top: 75px;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  width: 100%;
}

.column.large {
  display: inline-block;
  width: 630px;
  padding: 50px 15px 50px 0px;
  justify-content: space-between
}

.column.medium {
  width: 300px;
  padding: 20px 15px;
}

.column.small {
  display: flex;
  width: 240px;
  flex-direction: column;
  padding: 50px 0px 50px 15px;
}

.headline {
  display: flex;
  width: 630px;
  height: 315px;
  background-image: url("file:///C:/Users/Megan/Dropbox/Projects/MyTimes/resources/images/mainstory.png");
  color: white;
  background-color: black;
  background-size: cover;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

.cats {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: url("file:///C:/Users/Megan/Dropbox/Projects/MyTimes/resources/images/catceo.png");
  background-color: black;
  color: white;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  font-weight: normal;
}

h1 {
  font-family: Georgia;
 font-weight: bold;
 font-size: 40px;
}

h2 {
  font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
}

h3 {
  font-size: 16px;
font-weight: bold;
}

.mainstory {
  display: block;
  width: 630px;
  height: auto;
}

.orca {
  display: inline-block;
  width: 300px;
  margin-right: 20px;
}

.burger {
    display: inline-block;
    width: 300px;
}

.earth {
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    color: white;
    margin-right: 20px;
    background-image: url("file:///C:/Users/Megan/Dropbox/Projects/MyTimes/resources/images/fallseason.png");
}

.research {
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    background-image: url("file:///C:/Users/Megan/Dropbox/Projects/MyTimes/resources/images/hipstercameraman.png");
    color: white;
}

.cookie {
  height: 240px;
  width: 240px;
  background-image: url("file:///C:/Users/Megan/Dropbox/Projects/MyTimes/resources/images/cookie.png");
}

.newsbites {
  background-color: WhiteSmoke;
 font-family: Verdana;
 font-size: 12px;
 color: DimGray;
 }

.list {
 border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: WhiteSmoke;
}

.footer {
  display: inline-flex;
  width: 100%;
  background-color:  MediumAquamarine;
 font-family: Verdana;
 font-size: 12px;
 height: 300px;
 font-weight: normal;
 align-items: center;
 justify-content: center;
 position: relative;
}

#mytimes {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

#copyright {
  display: block;
}
